
<div class="row gx-5 mt-3">
    <div class="col-7">
        <h5>Send us an email!</h5>
        <!--  <email address="info@@pieshop.com" content="Contact us"/> this statement do not work -->
        <email address="info@@bethanyspieshop.com" content="Contact us" class="btn btn-secondary"></email>

    </div>
</div>